




/* NAV */

.fondo-nav {

    background-color: #A100FF;
    ;   
   
}

.nav-link {

    color: white;
}

.btn-pruebaGratis {

    background-color: #D999FF;
     
}

/* BODY CAROUSEL */

.carousel-item{

    max-height: 700px;
    

}




/*SECTION*/

.text-rest{

    padding-top: 100px;
}

.text-todo-en-uno{

    color: #A100FF;
    font-size: 3.5rem;
}

