




/* NAV */

.fondo-nav {

    background-color: #A100FF;
    ;   
   
}

.nav-link {

    color: white;
}

.btn-callToAction {

    background-color: #D999FF;
     
}

.logoImg {

    width: 90px;
    height: auto;
}

.logo-pos {

    
    width: 300px;
    height: auto;
}



/* BODY CAROUSEL */

.carousel-item{

    max-height: 700px;
    

}



/*SECTION*/

.text-rest{

    padding-top: 100px;
}

.text-todo-en-uno{

    color: #A100FF;
    font-size: 3.5rem;
}

/*SECTION TWO*/

.bg-sectionTwo {

    background-color: #D999FF;
}

.h4Tittle {

    color: white;
    text-decoration: solid;
}

.imgSecondSection {

    width: 90px;
    margin-top: 20px;
    
}

.containerSecondSection {

    background-color: #D999FF;
}

/*FIST SECTION CONTACT FORMS*/

.bg-containerForm {

    background-color: #D999FF;
}

.btnSend {

    background-color: #A100FF;
}


